[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=NextCloud Plus
Exec=/usr/bin/xdg-open http://GET_IP:8286
Icon=/usr/share/icons/hicolor/scalable/apps/docker-nextcloud-plus.svg
Categories=Docker;
